{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": [
    "src/**/*.{js,ts}"
  ],
  "exclude": [
    "!src/**/*.{spec,test,fixture}.ts",
    "!**/node_modules/**"
  ],
  "reporter": [
    "lcov",
    "text-summary",
    "text"
  ],
  "branches": 80,
  "lines": 80,
  "functions": 80,
  "statements": 80
}
